body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #333;
}

.top-nav a, .main-nav a, nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.header, .main-nav, .top-nav {
    text-align: center;
}

.title h1 {
    font-size: 3em;
    color: #222;
}

.main-nav {
    display: flex;
    justify-content: center;
    background: transparent;
    padding: 10px 0;
    font-size: 30px;
    gap: 120px;
}

.explore-button {
    width: 200px;
    height:70px;
    background-color: orange; /* Button color */
    color: white; /* Text color */
    font-size: 16px; /* Text size */
    padding: 10px 20px; /* Padding around text */
    border: none; /* No border */
    border-radius: 50px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.explore-button:hover {
    background-color: #e69500; /* Darker shade of orange on hover */
}


.header-content {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    background: url('maya-logo.png') no-repeat;
    background-size: fit;
    color: white;
}

.icon-circle {
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 50%;
    margin-right: 20px;
}
/* 
nav {
    display: flex;
    gap: 10px;
} */

.spacer {
    flex: 1; /* Takes up all available space */
}


nav {
    display: flex;
    gap: 40px; 
    align-items: stretch; 
}

nav a {
    color: rgb(35, 13, 13); 
    text-decoration: none; 
    font-weight: bold; 
    padding: 10px 15px; 
}


footer {
    text-align: center;
    padding: 20px 0;
    background: #222;
    color: white;
}

#projects article {
    background: #eee;
    padding: 20px;
    margin: 20px 0;
}
