/* colors scheme */
/* orange: #F8B75D */
/* light blue: #BCD8FA
neon blue: #ABD6FF
brown: #51312F */

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Helvetica', sans-serif;
    background-image: url('/imgs/altSky.png');
    background-repeat:repeat;
    width: 100%;
    height: max-content;
    background-size: cover;
    background-position: center;
    color: #504047;
    margin: 0;
    padding: 0;
}



header {
    position: relative;
    text-align: center;
    padding: 20px;
    z-index: 1;
}



.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.header-content nav a {
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

.fa-brands.fa-linkedin {
    font-size: 40px;
    color: #F8B75D;

}

.fa-regular.fa-file {
    font-size: 40px;
    color: #F8B75D
}

.fa-brands.fa-github{
    font-size: 40px;
    color: #F8B75D
}

.fa-regular.fa-envelope {
    font-size: 40px;
    color: #F8B75D
}

/* //start of wand overlay  contents */

.icon-circle {
    cursor: pointer;
}

@keyframes expand-circle {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.expanding-circle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 0%;
    transition: all 0.5s ease;
    z-index: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.expanding-circle.expand {
    width: 100vw;
    height: 100vh;
    background-color:#F8B75D;
    z-index: 1;
    pointer-events: auto;
}

/* Circle Content Styling */
.circle-content {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.circle-content.visible {
    display: block;
    background-image: url('../imgs/baackground_circle_content.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.circle-item {
    position: absolute;
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 150px; 
    height: 150px; 
    max-width: 650px; 
    max-height: 650px; 

}

.circle-item:hover {
    transform: scale(1.1);
}



.circle-item:nth-child(1) {
    top: 10%;
    left: 50%;
    width:300px;
    height: 400px;

}

.circle-item:nth-child(2) {
    top: 30%;
    left: 20%;
    width:150px;

}

.circle-item:nth-child(3) {
    top: 50%;
    left: 80%;
    width:350px;
    height: auto;
}

.circle-item:nth-child(4) {
    top: 20%;
    left: 80%;
    width: 200px;
    height: 300px;
}

.circle-item:nth-child(5) {
    top: 60%;
    left: 10%;
}

.circle-item:nth-child(6) {
    top: 70%;
    left: 50%;
}

.circle-item:nth-child(7) {
    top: 40%;
    left: 60%;
}

.circle-item:nth-child(8) {
    top: 15%;
    left: 30%;
}

.circle-item:nth-child(9) {
    top: 4%;
    left: 20%;
    width:120px;
}

.circle-item:nth-child(10) {
    top: 5%;
    left: 50%;
}

h2 {
    z-index: 30; 
    font-size:100px;
    color: greenyellow;
    display: flex;
    justify-content: center;

}

.fa-solid.fa-xmark {
    width: 90px;
    height: 90px;
}

.close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 96px;
    z-index: 100;
}



.d3dmodel {
    width: 200px;
    height: 200px;
}

.model {
    width: 200px;
    height: 400px;
}


.second-item {
    max-width: 500px; 
    max-height: 100px; 
}



.fa-solid.fa-wand-magic-sparkles {
    font-size: 60px;
    color: #F8B75D;
}

.fa-solid.fa-fish {
    color: pink;
    font-size: 210px

}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
}

.oldComputer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oldComputer p {
    color:aqua;
}

.modal-content {
    background-color: transparent;
    margin: 15% auto; 
    padding: 20px;
    width: 80%; 
    max-width: 700px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#video {
    width: 100%;
    height: auto;
}

#check_video {
    width: 10%;
    height: auto;

}

/* //end of wand pop  contents */


nav a {
    text-decoration: none;
    color: #504047;
    padding: 10px;
    font-size: 20px;

}

.fa-solid.fa-arrow-down {
    font-size: 18px;
    color: #F89705;
    padding-left: 10px;
}


.title h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 6em;
    color: #504047;
    position: relative;
    font-style: italic;
}

.title p {
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
    word-spacing: 70px;
    font-size: 2em;
    color: #504047;
    margin-top: -90px;
    width: 60%;
    text-align: center;
}


.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.maya {
    max-width: 75%;
    height: auto;
    position: relative; 
    animation: moveUpDown 3s ease-in-out infinite; 
    margin-bottom: -30px;
    margin-top: 60px;
}

.secondSpacer {
    height: 600px;
}


@keyframes moveUpDown {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -20px; 
    }
}

.bibSpace { 
    height:25px;
}


.explore-button {
    width:200px;
    height: 40px;
    background-color: #F8B75D ;
    color: #51312F;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
}

.explore-button2 {
    width:250px;
    height: 40px;
    background-color:#51312F;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    margin-top: 15px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 350px;
    background-color: transparent;
}

.recent-projects {
    letter-spacing: 2px; 
    word-spacing: 20px;
    margin-top: 200px;
    margin-bottom: 100px;
  }
  

.bibliobutton {
    border: none;
    background: transparent;
    width:150px;
    border-radius: 1000px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    color: #F89705;
}

footer {
    text-align: center;
    padding: 20px 0;
    background:#504047;
    color: white;
}

#projects article {
    background: #eee;
    padding: 20px;
    margin: 20px 0;
    height: 1000px;
}

#projects {
    justify-content: center;
    align-items: center;
    height: 400px;
    /* background-image: url('/imgs/efg.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    z-index: -10;
    margin-top: -120px;
    margin-bottom: 400px;
    transition: opacity 1s ease-in;
}



#projects h2 {
    font-family: 'Helvetica', sans-serif;
    font-weight: thin;
    font-size: 45px;
    color:  #51312F;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-top: 50px;

}


.grid-container {
    display: flex;
    gap: 10px;
    padding: 20px;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    margin-top: 60px;
}

.grid-item {
    margin-top: 150px;
    width: 350px;
    height: 450px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 8px;
    margin: 10px;
    transition: transform 0.2s;
    text-decoration: none;

}

.grid-item:hover {
    transform: scale(1.05);
    text-decoration: none;
}

.grid-img {
    margin-top: 40px;
    width: 60%;
    height: auto;
}

.grid-item a {
    text-decoration: none; 
}

.grid-caption {
    padding: 15px;
    text-align: center;
    color: #51312F;
    text-decoration: none;
}

.grid-caption h3 {
    margin: 0 0 10px;
    color: #51312F;
    text-decoration: none;

}

.grid-caption h3 a {
    text-decoration: none;
    color: #51312F;
}
.grid-caption p {
    margin: 0;
    color: #555;
}

.no-underline {
    text-decoration: none;
    color: orange;
}

.no-underline:hover {
    text-decoration: none;
    color: #51312F;
    
}


.about-container {
    height: 1050px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 20px;
    background-image: url('/imgs/abouutMe.png');
    background-repeat: no-repeat;
    padding-top: 60px;
    margin-top: -350px;

}


.about-container2 {
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 200px;
    border-radius: 10px;
}


.mockup {
    width: 720px;
}

.hicontainer {
    display: flex;
    justify-content: space-around;
    margin-top: 250px;
}

.about-image {
    max-width: 850px;
    border-radius: 10%;
    width: 500px;
    margin-top: 20px;
}

.about-text {
    max-width: 400px;
}

#about h3 {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    padding: 30px;
    padding-top: 50px;
    
}



.about-text p {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
    padding: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

 .orangebar {
    height: 35px;
    width: 100%;
    background-color: #F8B75D;
    margin-bottom: 20px;
}

.more-button {
    color: inherit;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: flex-end;
    animation: tilt 5s infinite;
    margin-left: 100px;
    margin-top: -50px;

}

.more-button:hover i {
    color: rgba(81, 49, 47, 1);
}

@keyframes tilt {
    0% { transform: rotate(-3deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

.fa-solid.fa-brush {
    font-size: 40px;
    color: #F8B75D;
}

.more-button:hover {
    color: rgba(81, 49, 47, 1);
    text-decoration: none;
}


.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.contact-icon-circle {
    width: 70px;
    height: 70px;
    background-color: rgba(240, 217, 216, 0.3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    font-weight: bold;
}

.bottomLogo {
    width: 60px;
    height: 60px

}

.contact-content p {
    font-size: 1.2rem;
}

.contact-content a {
    color: #F8B75D;
    text-decoration: none;
    font-weight: bold;
}

.contact-content a:hover {
    text-decoration: underline;
}

.nav-toggle {
    display: none;
}

.hamburger-button {
    display: none;
    cursor: pointer;
 
}



.topnav_links a {
    color: inherit; 
    text-decoration: none; 
  }

  .topnav_links a:hover {
    color: #F8B75D; 
    font-style: italic;
  }


@media (max-width: 40em) {
    .title p a {
        text-decoration: none;
        color: #504047;
    }


    .hamburger-button {
        display: inline-block;
 
    }

    .topnav_menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .topnav_menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        list-style: none;
        text-align: left;

    }

    .nav-toggle:checked + .hamburger-button + .topnav_menu {
        display: block;
        opacity: 1;
    }

    

    .nav-toggle:checked + .hamburger-button + .topnav_menu .close-button {
        display: block;
    }
    
}

/* Display links in a row on larger screens */
@media (min-width: 40em) {
    .topnav_links {
        font-family: 'Helvetica', sans-serif;
        display: flex;
        justify-content: center;
        list-style: none;
        /* font-weight: bold; */
    }

    .topnav_item:hover {
        color: #F8B75D;
    }


    .topnav_item {
        margin: 0 10px;
    }

    .title p {
        font-family: 'Helvetica', sans-serif;
        font-weight: 800;
        word-spacing: 150px;
        font-size: 1.75em;
        color: #504047;
        position: relative;
        margin-top: -90px;
    }
    .title p a {
        text-decoration: none;
        color: #504047;
    }

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
    }
}